
# Directories created when code is run
figures
logs
pickle
pickle_detail
diag_text_out
pyGSI/__pycache__
__pycache__

# Temporary files
*swp

# Fortran artifacts
*.o
*.mod
*.x

# Slurm output
slurm*
